/* -------------------------------
** :: Variables
** ---------------------------- */

:root {
    --teal: #14B8A6;
    --blue: #3B82F6;
    --neutral: #737373;
    --light-neutral: #e7e5e4;
    --dark: #171717;
}

/* -------------------------------
** :: Tailwind CSS
** ---------------------------- */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------------
** :: Scrollbar
** -----------------------------*/

::-webkit-scrollbar {
    background: theme('colors.neutral.200');
}

::-webkit-scrollbar-thumb {
    background: theme('colors.neutral.400');
    border-radius: 9999px;
    border: 7px solid theme('colors.neutral.200');
    transition: 300ms ease;
}

::-webkit-scrollbar-thumb:hover {
    background: theme('colors.neutral.500');
    border-width: 5px;
}