/* -------------------------------
** :: Navbar
** ---------------------------- */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999999999999;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(20px);
    border-bottom: 1px solid #737373;
}